<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stockme.stockme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="stockme.stockme.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaAdd"
            android:label="@string/title_activity_lista_add"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.Principal" />
        </activity>
        <activity
            android:name=".ListaCompra"
            android:label="@string/title_activity_lista_de_articulos"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.Principal" />
        </activity>
        <activity
            android:name=".StockAdd"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.Principal" />
        </activity>
        <activity android:name=".SplashScreenIntro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ArticulosAdd"
            android:parentActivityName=".ListaCompra">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.ListaCompra" />
        </activity>
        <activity
            android:name=".InfoBD"
            android:parentActivityName=".Principal">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.Principal" />
        </activity>
        <activity android:name=".CatalogoArticulos"></activity>
        <activity
            android:name=".ArticuloSimpleAdd"
            android:parentActivityName=".CatalogoArticulos">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.CatalogoArticulos" />
        </activity>
        <activity
            android:name=".AjustesPrueba"
            android:label="@string/title_activity_ajustes_prueba"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.Principal" />
        </activity>
        <activity
            android:name=".StockListaAdd"
            android:parentActivityName=".Principal"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="stockme.stockme.StockListaAdd" />
        </activity>
        <activity android:name=".Preferencias"
            android:label="Preferencias">
        </activity>
    </application>

</manifest>